:root {
  --box-clr: black;
}




.boxes {
  display: flex;
}

.box {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: block;
  
  cursor: pointer;
  
  background-color: var(--box-clr);
  border: 5px solid var(--box-clr);

  font-size: 2rem;
  color: white;
  
  text-align: center;
  line-height: 9rem;

  transition:
    transform 0.1s ease-out,
    color 0.1s ease-out,
    background-color 0.1s ease-out;
}

.box:hover {
  color: black;
  background-color: transparent;
  transform: scale(1.2);
}

.box.selected {
  transform: scale(1.2);
}

#box-1 {
  --box-clr: black;
}

#box-2 {
  --box-clr: red;
}

#box-3 {
  --box-clr: green;
}

#box-4 {
  --box-clr: blue;
}